*
  font-family: 微軟正黑體
  // border: 1px solid black
html
  margin: 0
  padding: 0
body
  margin: 100px auto
  padding: 0px
  overflow: hidden
  background: #0B1013
@keyframes card-ani
  0%
    opacity: 0
    transform: translateX(40px)translateY(40px)
  100%
    opacity: 1
    transform: translateX(0px)translateY(0px)
.container
  .card
    margin: 0 auto
    height: 380px
    width: 300px
    animation: card-ani 1s
    transition-delay: 1s
    transition-timing-function: easeOutCirc
    position: relative
    .front
      display: relative
      .top
        background-image: url(https://images.pexels.com/photos/121486/pexels-photo-121486.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)
        background-size: cover
        border-radius: 10px 10px 0 0
        height: 190px
      .bottom
        color: white
        height: 190px
        width: 100%
        background: rgba(200,38,29,.7)
        border-radius: 0 0 10px 10px
        text-align: center
        .info
          vertical-align: middle
          text-align: center
        .name
          padding: 45px 0px 0px 0px
          font-size: 25px
        .work
          font-size: 15px
          font-weight: 900
          color: #EEA9A9
          padding: 5px 0 0 0
        .porfolio
          padding: 40px
      .picc
        margin: auto
        margin-top: -270px
        width: 114px
        height: 114px
        border-radius: 100%
        box-shadow: 0 0 0 3px
        background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/10441003_929139190490052_4442256361444094961_n.jpg?oh=6f5a8f13067328d573f345107e3ee974&oe=5A0BAE2B)
        background-size: cover
        color: rgba(256,256,256,1)
  #background 
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
  
    #background-image 
      height: calc(100% + 60px)
      width: calc(100% + 60px)
      position: absolute
      top: -30px
      left: -30px
      -webkit-filter: blur(8px)
      background-image:   url(https://images.pexels.com/photos/121486/pexels-photo-121486.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)
      background-size: cover 

