.container 
  #background
    #background-image
  .card
    .front
      .top
      .bottom
          .info.name Amelie Chen
          .info.work Code beginner
          .info.porfolio 連結
    .back
      